.gala-container {
  padding: 15vh 5vw 0vw 05vw;
}

.gala-title {
  padding-bottom: 15px;
  justify-content: center;
  display: flex;
  color: #0b1124;
  padding-bottom: 5vh;
}

.gala-logo {
  height: 20vh;
}
